{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Analytics</h1>
  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Expense (Monthly)
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                ₹{{ CardData["MonthlyExpense"] }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Expense (Annual)
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{ CardData["AnnualExpense"] }}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Tasks Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      {% if CardData["BudgetPercentage"] >= 100 %}
      <div class="card border-left-info shadow h-100 py-2 alert alert-danger">
        {% else %}
        <div class="card border-left-info shadow h-100 py-2">
          {% endif %}

          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-info text-uppercase mb-1"
                >
                  Budget Tracker
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                      {{CardData["BudgetPercentage"] }}%
                    </div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div
                        id="BudgetPercentage"
                        class="progress-bar bg-info"
                        role="progressbar"
                        style="width: 40%"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                >
                  Users using this App
                </div>
                <span class="h5 mb-0 font-weight-bold text-gray-800">
                  {{ CardData["UserCount"] }}
                </span>
                and counting
              </div>
              <div class="col-auto">
                <i class="fas fa-comments fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-7">
        <!-- Area Chart -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Current Month expense
            </h6>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="myAreaChart"></canvas>
            </div>
            <hr />
          </div>
        </div>

        <!-- Bar Chart -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Monthly Expense</h6>
          </div>
          <div class="card-body">
            <div class="chart-bar">
              <canvas id="myBarChart"></canvas>
            </div>
            <hr />
            Add?
          </div>
        </div>
      </div>

      <!-- Donut Chart -->
      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Category Pie Chart
            </h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-pie pt-4">
              <canvas id="myPieChart"></canvas>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Page level plugins -->
    <script src="{{ url_for('static',filename='js/chart.min.js') }}"></script>
    <script type="text/javascript">

      document.getElementById("BudgetPercentage").style.width = {{ CardData["BudgetPercentage"] }}+"%";
            // Area Chart Code
            var ctx = document.getElementById("myAreaChart");
            var myLineChart = new Chart(ctx, {
              type: "line",
              data: {
                labels: {{ GraphData["ChartArea"]["labels"] | tojson }},
                datasets: [
                  {
                    label: "Earnings",
                    lineTension: 0.3,
                    backgroundColor: "rgba(78, 115, 223, 0.05)",
                    borderColor: "rgba(78, 115, 223, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointBorderColor: "rgba(78, 115, 223, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: {{GraphData["ChartArea"]["data"]}},
                  },
                ],
              },

            });


          // Pie Chart Code
          var ctx = document.getElementById("myPieChart");
          var myPieChart = new Chart(ctx, {
            type: "doughnut",
            data: {
              labels: {{ GraphData["ChartPie"]["labels"] | tojson }},
              datasets: [
                {
                  data: {{ GraphData["ChartPie"]["data"] | tojson }},
                  backgroundColor: ["#4e73df", "#1cc88a", "#36b9cc"],
                  hoverBackgroundColor: ["#2e59d9", "#17a673", "#2c9faf"],
                  hoverBorderColor: "rgba(234, 236, 244, 1)",
                },
              ],
            },
            options: {
              maintainAspectRatio: false,
              tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: "#dddfeb",
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
              },
              legend: {
                display: false,
              },
              cutoutPercentage: 80,
            },
          });

           // Bar Chart Code
           var ctx = document.getElementById("myBarChart");
            var myLineChart = new Chart(ctx, {
              type: "bar",
              data: {
                labels: {{ GraphData["ChartBar"]["labels"] | tojson }},
                datasets: [
              {
                label: "Revenue",
                backgroundColor: "#4e73df",
                hoverBackgroundColor: "#2e59d9",
                borderColor: "#4e73df",
                data:{{ GraphData["ChartBar"]["data"] | tojson }},
              },]
            }
            });
    </script>

    {% endblock %}
  </div>
</div>
