{% extends 'user_base.html' %} {% block content %}

<div class="container-fluid">
	<!-- Page Heading -->
	<h1 class="h4 mb-2 text-gray-800 m-3">Event List and Budget Tracking</h1>
	<!-- Content Row -->

	<div class="row">
		{% for i in range(events|length) %}
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						

						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-primary text-uppercase mb-1"
							>
							<a href="{{ '/event_list/%s'%events[i]['id']}}" class="btn btn-link stretched-link">
								{{ events[i]["name"] }}
							</a>
                            
								
							</div>

							<div class="h5 mb-0 font-weight-bold text-gray-800 ml-3">
								{{events[i]["spent"]/events[i]["budget"]*100}}%
							</div>
							<div class="row no-gutters align-items-center mt-3 ml-3">
								<div class="col">
									<div class="progress progress-sm mr-2">
										<div
											id="BudgetPercentage"
											class="progress-bar bg-info"
											role="progressbar"
											aria-valuemin="0"
											aria-valuemax="100"
                                            style="width: {{events[i]["spent"]/events[i]["budget"]*100}}%;"
										></div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-auto">
							<i
								class="fas fa-dollar-sign fa-2x text-gray-300"
							></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
