{% extends 'user_base.html' %} {% block content %}

<div class="container-fluid">
	<!-- Page Heading -->

	<div class="row">
		<div class="col-xl-3 col-md-6 mb-5">
			<div class="h4 mb-2 text-gray-800 text-center mt-1"> Event - {{ event["name"] }}</div>
		</div>
		<div class="col-xl-3 col-md-6 mb-5">
				<button class="btn btn-primary" onclick="updateEvent({{event['id']}})">
					<i class="bi bi-pencil-square"></i>
				</button>

				<button class="btn btn-danger" onclick="deleteEvent({{event['id']}})">
					<i class="bi bi-trash3-fill"></i>
				</button>
				
		</div>
	</div>
	
	
	<!-- Content Row -->

	<div class="row">
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-primary text-uppercase mb-1"
							>
								Budget Tracker
							</div>
							<div class="row no-gutters align-items-center mt-3 mb-2">
								<div class="col">
									<div class="progress progress-sm mr-2">
										<div
											id="BudgetPercentage"
											class="progress-bar bg-info"
											role="progressbar"
											aria-valuemin="0"
											aria-valuemax="100"
											style="width: {{event["spent"]/event["budget"]*100}}%;"
										></div>
									
								</div>
							</div>
							
							</div>
								<div class="h5 mb-0 font-weight-bold text-center text-gray-800">
									{{event["spent"]/event["budget"]*100}}%
								</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>

        <div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-success text-uppercase mt-1"
							>
								Total Spent
							</div>
							<div class="h5 mb-0 mt-3 font-weight-bold text-gray-800">
								₹ {{ event["spent"] }}
							</div>
						</div>
						<div class="col-auto">
							<i
								class="fas fa-dollar-sign fa-2x text-gray-300"
							></i>
						</div>
					</div>
				</div>
			</div>
		</div>

        <div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div
								class="text-xs font-weight-bold text-success text-uppercase mt-1"
							>
								Budget
							</div>
							<div class="h5 mb-0 mt-3 font-weight-bold text-gray-800">
								₹ {{event["budget"]}}
							</div>
							
						</div>

						<div class="col-auto">
							<i
								class="fas fa-dollar-sign fa-2x text-gray-300"
							></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h1 class="h4 mb-2 text-gray-800 m-3">Expenses</h1>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">S.No</th>
				<th scope="col">Amount</th>
				<th scope="col">Mode</th>
				<th scope="col">Category</th>
				<th scope="col">Date</th>
				<th scope="col">Note</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for i in range(transactions|length) %}
			<tr>
				<th scope="row">{{ i+1 }}</th>
				<td>{{ transactions[i]["transaction"] }}</td>
				<td>{{ transactions[i]["mode"] }}</td>
				<td>{{ transactions[i]["category"] }}</td>
				<td>{{ transactions[i]["datestamp"] }}</td>
				<td>{{ transactions[i]["note"] }}</td>
				<td>
					<button class="btn btn-primary" onclick="handleEditTransaction({{transactions[i]['id']}})">
						<i class="bi bi-pencil-square"></i>
					</button>

					<button class="btn btn-danger" onclick="handleDeleteTransaction({{transactions[i]['id']}})">
						<i class="bi bi-trash3-fill"></i>
					</button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{% block javascript %}
	<script>

		function updateEvent(id){
			window.location.href = '/event_list/'+id+'/update'
		}

		function deleteEvent(id){
			Swal.fire({
				title: 'Are you sure?',
				text: "This will delete all transactions created for this event!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
				}).then((result) => {
				if (result.isConfirmed) {
					window.location.replace('/event_list/'+id+'/delete')				
				
				}
				})
		}
		
		function handleDeleteTransaction(id){
			Swal.fire({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
				}).then((result) => {
				if (result.isConfirmed) {
					window.location.replace('/view_transaction/'+id+'/delete')				
				
				}
				})
		}

		function handleEditTransaction(id){
			window.location.href = '/view_transaction/'+id+'/update'
		}
	</script>
	{% endblock %}
</div>

{% endblock %}
